* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, monospace;
}
body {
  display: flex;
  overflow: overlay;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

main {
  margin: 0px 25px 250px 25px;
}

#search-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid grey;
  padding: 2px;
  margin: 30px 20px 5px 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 100px;
  outline: thin;
  max-width: 600px;
  min-width: 250px;
}
#search-form:hover {
  box-shadow: 0px 0px 8px 1px lightgray;
}

#search-bar {
  font-size: 1em;
  flex: 1 1 400px;
  margin: 0 10px;
  border: none;
  outline: none;
}

#search-form svg {
  margin: auto 0;
  height: 20px;
  width: 20px;
  min-width: 20px;
  min-height: 20px;
  justify-content: center;
  fill: gray;
  margin-left: 10px;
  align-self: center;
}

#search-mic-button {
  width: auto;
  height: auto;
  padding: 20px 26px;
  background: url("../images/google-mic.svg") center no-repeat;
  background-size: 20px 20px;
  background-color: transparent;
  cursor: pointer;
  outline: transparent;
  border: none;
}
#centered-search {
  text-align: center;
  display: flex;
  height: 100%;
  min-width: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav {
  user-select: none;
  font-size: 0.8em;
  margin: 1.25em;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
header a {
  text-decoration: none;
  color: #111;
}

footer nav {
  flex-direction: row-reverse;
  width: 100vw;
  height: auto;
  font-size: 14px;
  border: 1px solid lightgray;
  justify-self: flex-end;
  display: flex;
  background-color: #f2f2f2;
  flex: 0 0 400px;
  justify-content: space-between;
}

footer a {
  color: #70757a;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0.8em;
}
.footer-content {
  padding: 0.8em;
}

@media (max-width: 800px) {
  footer nav {
    flex: 0 0 400px;
    min-width: 500px;
    flex-direction: column;
    align-items: center;
  }
}

header ul {
  margin-right: 1em;
  display: flex;
  flex: 0 0 180px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header li,
footer li {
  display: inline;
}
#more-btn {
  display: inline-block;
  opacity: 0.5;
  width: 32px;
  height: 28px;
  background-size: 528px 68px;
  background-position: -132px -38px;
  background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
}
#more-btn:hover {
  opacity: 1;
}
#profile-btn {
  display: inline-block;
  background-size: 32px 32px;
  border-radius: 100%;
  background-image: url("https://avatars1.githubusercontent.com/u/45146887?s=460&u=cb53075289c3b4fb64bb5ed13d00bc10efd3ddc5&v=4");
  width: 36px;
  height: 36px;
}

.google-button {
  background-color: #f8f9fa;
  border: 1px solid hsl(0, 0%, 98%);
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 2px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}
.google-button:hover {
  box-shadow: 0px 0px 1px 1px lightgray;
}

.google-button:focus {
  box-shadow: 0px 0px 1px 1px steelblue;
}
#button-container {
  min-width: 300px;
}

.hover-black a:hover {
  fill: black;
  color: black;
}
.hover-underline a:hover {
  text-decoration: underline;
}
p {
  padding: 1em;
  color: #2c2023;
}
p,
p * {
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: smaller;
}
